* {
    box-sizing: border-box;
  }

body {
    background-color: #f6f6f6;
    margin: 0;
    padding: 0%;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
    
}

form div, body .title {
    padding: 9px;
    background-color: #f6f6f6;
    overflow: hidden;
}

input[type="text"],
textarea,
input[type="password"],
select {
    font: 17px Calibri;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="datetime-local"], input[type="date"] {
    font: 17px Calibri;
    width: 22%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    font: 17px Calibri;
    width: auto;
    float: right;
    cursor: pointer;
    padding: 7px;
}

label[for="Fecha de ingreso"], 
label[for="Fecha de entrenamiento"],
label[for="upload"] {

    font: 17px Calibri;
    width: 100%;
    font-weight: bold;
    border-radius: 4px;

}


h1 {
    text-align: center;
}

form.main-form {
    border-radius: 25px;
}


.principal-header a {
    color: inherit;
    text-decoration: inherit;
}

body .principal-header {
    padding: 10px 10px;
    
    background-color: black;
    overflow: hidden;
    
    line-height: 20px;
}

.principal-header a {

    color: white;
    cursor: pointer;
    display: flex;
    touch-action: manipulation;
    float: left;
    display: block;
    text-align: center;
    padding: 17px;
    font-size: 16px;
    
}


.ml-auto {

    float: right;
}


img.logo {

    overflow-clip-margin: content-box;
    overflow: clip;
    width: 60px;
    height: 60px;
    float: left;
    font-size: 25px;
    text-align: center;
}



.alert-primary strong {
    
    text-align: center;
    color: red
}


.close {
    position: absolute;
    right: 52px;
    top: 158px;
    width: 32px;
    height: 25px;
    opacity: 0.7;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 16px;
    width: 4px;
    background-color: red;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }