* {
    box-sizing: border-box;
  }

body {
    background-color: blueviolet;
    margin: 0;
    padding: 0%;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
    
}

form div, body .title {
    padding: 9px;
    background-color: #f6f6f6;
    overflow: hidden;
}

input[type="text"],
textarea,
input[type="password"],
select {
    font: 17px Calibri;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="datetime-local"], input[type="date"] {
    font: 17px Calibri;
    width: 22%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    font: 17px Calibri;
    width: auto;
    float: right;
    cursor: pointer;
    padding: 7px;
}

label[for="Fecha de ingreso"], 
label[for="Fecha de entrenamiento"],
label[for="upload"] {

    font: 17px Calibri;
    width: 100%;
    font-weight: bold;
    border-radius: 4px;

}


h1 {
    text-align: center;
}

form.main-form {
    border-radius: 25px;
}


.principal-header a {
    color: inherit;
    text-decoration: inherit;
}

body .principal-header {
    padding: 28px;
    position: sticky;
    background-color: black;
    overflow: hidden;
    z-index: 1000;
}

.principal-header a {
    left: -70%;
    color: white;
    cursor: pointer;
    text-underline-position: auto;
    display: flex;
    touch-action: manipulation;
}