<html>
<head>
    <link rel="stylesheet" href="..\static\style_account.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../static/images/logo.jfif">
</head>
<body>

    
   
    <div id="id01" class="loging-box">
        
        <img src="../static/images/Stuller_logo.png" alt="Avatar" class="avatar">
        {% with messages = get_flashed_messages() %}

        {% if messages %}
        <br />
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible" role="alert" id="closealert" onclick="toggle_visibility()">
            <strong>{{ message }}</strong>
            <span class="close"></span>
        </div>
        {% endfor %}
        {% endif %}

        {% endwith %}
        <br>
        <h1>Login Here</h1>
        
        <form class="modal-content animate" action="/login" method="post">
          
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Ingrese el numero del asociado" name="username">
            
          <br>
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Ingrese su contrase&ntilde;a" id="id_password" name="password"><br>
          <input type="checkbox" onclick="myFunction()">Mostrar contraseña

          <script src="{{url_for('static', filename='../static/js/main.js')}}"></script>
        
          <br>
          <div>
          <button type="submit">Login</button>
          </div>
    
        
        </form>
    </div>
 
    
</html>