<html>
<head>
    <link rel="stylesheet" href="..\static\style_account.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    
    <h2></h2>
    
   
    <div id="id01" class="loging-box">
        
        <img src="../static/images/img_avatar2-2.png" alt="Avatar" class="avatar">
        {% with messages = get_flashed_messages() %}

        {% if messages %}
        <br />
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}

        {% endwith %}

        <h1>Login User</h1>
        <form class="modal-content animate" action="" method="post">
        
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Ingrese el numero del asociado" name="username">
            
          <br>
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Ingrese su contrase&ntilde;a" id="id_password" name="password"><br>
          <input type="checkbox" onclick="myFunction()">Mostrar Contraseña

          <script src="{{url_for('static', filename='../static/js/main.js')}}"></script>
        
          <br>
          <button type="submit">Log In</button>
    
    
        
        </form>
    </div>
 
    
</html>